In [ ]:


    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [1]:
 list = []

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [34]:
list = ["un","deux","trois","quatre","cinq","six"]
print(list)

['un', 'deux', 'trois', 'quatre', 'cinq', 'six']

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [11]:
len(list)

5

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [24]:
list[0:3]

['un', 'deux', 'trois']

In [26]:
list[0]

'un'

In [27]:
list[2]

'trois'

In [25]:
list[4]

'cinq'

#### **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [28]:
mixed_data_type=["haby","27","1.60","diamniadio" ]

In [30]:
print(mixed_data_type)

['haby', '27', '1.60', 'diamniadio']

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

In [21]:
it_companies=["Facebook","Google","Microsoft","Apple","IBM","Oracle","Amazon"]
print(it_companies)
len(it_companies)
it_companies[0]

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

'Facebook'

In [22]:
it_companies[2:3]

['Microsoft']

In [23]:
it_companies[6]

'Amazon'

In [24]:
it_companies[2]="AIMS"
print(it_companies)

['Facebook', 'Google', 'AIMS', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [25]:
it_companies.append("microsoft")
print(it_companies)

['Facebook', 'Google', 'AIMS', 'Apple', 'IBM', 'Oracle', 'Amazon', 'microsoft']

In [26]:
it_companies.append("toshiba")
print(it_companies)

['Facebook', 'Google', 'AIMS', 'Apple', 'IBM', 'Oracle', 'Amazon', 'microsoft', 'toshiba']

In [27]:
it_companies.insert(3,"gamer")

In [29]:
it_companies[1].upper()

'GOOGLE'

In [30]:
it_companies[9].join()

TypeError: join() takes exactly one argument (0 given)

In [31]:
tupl = ("Facebook","Google","Microsoft","Apple","IBM","Oracle","Amazon")
res="#;".join(tupl)
print(res)

Facebook#;Google#;Microsoft#;Apple#;IBM#;Oracle#;Amazon

In [32]:
it_companies[5]

'IBM'

In [33]:
it_companies.sort()
print(it_companies)

['AIMS', 'Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Oracle', 'gamer', 'microsoft', 'toshiba']

In [34]:
it_companies.reverse()
print(it_companies)

['toshiba', 'microsoft', 'gamer', 'Oracle', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon', 'AIMS']

In [35]:
it_companies.remove('toshiba')
print(it_companies)

['microsoft', 'gamer', 'Oracle', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon', 'AIMS']

In [36]:
it_companies.remove('Facebook')
print(it_companies)

['microsoft', 'gamer', 'Oracle', 'IBM', 'Google', 'Apple', 'Amazon', 'AIMS']

In [37]:
it_companies.remove('Google')
print(it_companies)

['microsoft', 'gamer', 'Oracle', 'IBM', 'Apple', 'Amazon', 'AIMS']

In [38]:
it_companies.remove('microsoft')
print(it_companies)

['gamer', 'Oracle', 'IBM', 'Apple', 'Amazon', 'AIMS']

In [39]:
it_companies.remove('Amazon')
print(it_companies)

['gamer', 'Oracle', 'IBM', 'Apple', 'AIMS']

In [40]:
it_companies.remove('Oracle')
print(it_companies)

['gamer', 'IBM', 'Apple', 'AIMS']

In [41]:
it_companies.remove('gamer')
print(it_companies)

['IBM', 'Apple', 'AIMS']

In [42]:
it_companies.remove('Apple')
print(it_companies)

['IBM', 'AIMS']

In [43]:
it_companies.remove('AIMS')
print(it_companies)

['IBM']

In [44]:
it_companies.remove('IBM')
print(it_companies)

[]

In [45]:
del it_companies
print(it_companies)

NameError: name 'it_companies' is not defined

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [46]:
font_end =['HTML', 'CSS','JS','Redux']
back_end=['Node', 'express','MongoDb']
a=font_end+back_end
b="-".join(a)
print(b)
#tupl = ("HTML","css","JS","Redux")
#a="-".join(tupl)
#print(a)

HTML-CSS-JS-Redux-Node-express-MongoDb

In [47]:
a.sort()
print(a)
print ("L'élément minimum est:", a [0])
print ("L'élément le plus grand est :" ,a[-1])

['CSS', 'HTML', 'JS', 'MongoDb', 'Node', 'Redux', 'express']
L'élément minimum est: CSS
L'élément le plus grand est : express

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [48]:
ages=[19,22,19,24,20,25,26,24,25,25]

In [49]:
ages.sort()
print(ages)
print ("L'élément minimum est:", ages [0])
print ("L'élément le plus grand est :" ,ages[-1])

[19, 19, 20, 22, 24, 24, 25, 25, 25, 26]
L'élément minimum est: 19
L'élément le plus grand est : 26

In [50]:
ages.insert(0,19)
ages.insert(10,26)
print(ages)

[19, 19, 19, 20, 22, 24, 24, 25, 25, 25, 26, 26]

In [51]:
median=(24+24)/2
print(median)

24.0

In [52]:

def mean(dataset):
    return sum(dataset) / len(dataset)

print(mean(ages))

22.833333333333332

In [53]:
print()

In [54]:
A=max(ages)-mean(ages)

absolute_A = abs(A)

print(absolute_A)

3.166666666666668

In [55]:
B=min(ages)-mean(ages)

absolute_B = abs(B)

print(absolute_B)

3.833333333333332

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

In [1]:
dog={}

In [2]:
dog["name"] ="milou" 
dog["color"] = "white"
dog["race"] = "chihuahua"
dog["pattes"] = 4
dog["age"] = 2

In [3]:
print(dog)

{'name': 'milou', 'color': 'white', 'race': 'chihuahua', 'pattes': 4, 'age': 2}

In [4]:
student={'name':'Jean','prenom':'diouf','sexe':'M','etat-civil':'marier', 'age':25,
         'competences':['informaticien','mathematicien'], 'pays':'senegal','ville':'dakar','adresse':'diamiadio'}
print(student)

{'name': 'Jean', 'prenom': 'diouf', 'sexe': 'M', 'etat-civil': 'marier', 'age': 25, 'competences': ['informaticien', 'mathematicien'], 'pays': 'senegal', 'ville': 'dakar', 'adresse': 'diamiadio'}

In [5]:
len(student)

9

In [6]:
print(student["competences"])
type(student["competences"])

['informaticien', 'mathematicien']

list

In [7]:
student["competences"].append("physicien")
print(student)

{'name': 'Jean', 'prenom': 'diouf', 'sexe': 'M', 'etat-civil': 'marier', 'age': 25, 'competences': ['informaticien', 'mathematicien', 'physicien'], 'pays': 'senegal', 'ville': 'dakar', 'adresse': 'diamiadio'}

In [8]:
type(student["competences"])

list

In [9]:
 l = list(student.keys())
print(l)

['name', 'prenom', 'sexe', 'etat-civil', 'age', 'competences', 'pays', 'ville', 'adresse']

In [10]:
student.values()

dict_values(['Jean', 'diouf', 'M', 'marier', 25, ['informaticien', 'mathematicien', 'physicien'], 'senegal', 'dakar', 'diamiadio'])

In [11]:
student.items()

dict_items([('name', 'Jean'), ('prenom', 'diouf'), ('sexe', 'M'), ('etat-civil', 'marier'), ('age', 25), ('competences', ['informaticien', 'mathematicien', 'physicien']), ('pays', 'senegal'), ('ville', 'dakar'), ('adresse', 'diamiadio')])

In [12]:
student.pop('nom','Jean')
print(student)

{'name': 'Jean', 'prenom': 'diouf', 'sexe': 'M', 'etat-civil': 'marier', 'age': 25, 'competences': ['informaticien', 'mathematicien', 'physicien'], 'pays': 'senegal', 'ville': 'dakar', 'adresse': 'diamiadio'}

In [13]:
student={}
print(student)

{}

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS !🎉 </span> </b></center>